<%= render 'layouts/header' %>
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>USERS LIST</h1>
                    <ul class="breadcumb">
						<li class="active"><%= link_to 'Home', root_path %></li>
                        <li> <span class="ion-ios-arrow-right"></span> USERS LIST</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span><%= User.count %></span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="popularity">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                    </select>
                    <a href="movielist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
                    <a  href="moviegrid.html" class="grid"><i class="ion-grid"></i></a>
                </div>
                <% @users.each do |user| %>
                <div class="movie-item-style-2">
                    
                    <%= image_tag user.image.url(:medium) %>
                    <div class="mv-item-infor">
                        <h6><%= link_to user.username, user_path(user) %></a></h6>
                        
                    </div>
                </div>
            <% end %>
            <div class="topbar-filter">
                <label>Users per page:</label>
                <select>
                    <option value="range">5 Users</option>
                    <option value="saab">10 Users</option>
                </select>
                <div class="pagination2">
                    <span><%= will_paginate @users %></span>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<%= render 'layouts/footer' %>